body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #00ffff, #ff00ff); 
    color: black; 
    min-height: 100vh;
    margin: 0; 
    padding: 0; 
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
    max-height: 40px;
    width: auto;
    margin-right: 10px;
}

.container {
    padding-top: 80px;
}
.book-card {
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
    transition: all 0.3s ease; 
}

.book-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

.book-card {
    margin-bottom: 20px;
}

.book-img {
    height: 200px;
    object-fit: cover;
}

.card-title-one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}